/* Navbar base */
.navbar {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  z-index: 1030;
}

/* Estilo da marca */
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

/* Ícone da marca */
.navbar-brand .bi {
  vertical-align: middle;
}

/* Estilo dos links */
.nav-link {
  font-weight: 500;
  font-size: 1.05rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

/* Hover */
.nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: translateY(-2px);
}

/* Ícones nos links */
.nav-link .bi {
  vertical-align: middle;
}

/* Link ativo */
.nav-link.active {
  color: var(--bs-warning) !important;
  font-weight: 700;
  border-bottom: 2px solid var(--bs-warning);
  padding-bottom: calc(0.5rem - 2px);
}

@media (max-width: 576px) {
  .navbar-brand span {
    font-size: 1rem;
  }

  .navbar-toggler {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }

  .nav-link {
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
  }

  .nav-item {
    margin-bottom: 0.5rem;
  }

  .navbar-nav {
    text-align: center;
  }
}